<a href="https://colab.research.google.com/github/Ommanchanda/Python_Practice/blob/main/Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Types and Structures**

Questions

Q1)What are data structures, and why are they important?

Data structures are formats in which we can store and manage data in an efficient way.
They are important because they help us orgnize data in a way that performing operations on them or deriving conclusions from them becomes easy.

Q2) Explain the difference between mutable and immutable data types with examples?

Mutable data types are the ones in which changes can be made after its creation. Example: Lists,sets
Immutable data types are the ones in which changes cannot be made to the object once object is created. Example:Tuple

Q3)What are the main differences between lists and tuples in Python?

The only difference between lists and tuples in python is that lists are mutable and changes can be ade in them after creation while tuples are immutable.

Q4)Describe how dictionaries store data?

Dictionaries store data in the form of keys and values. Every entry has a key and an assosiated value.

Q5)Why might you use a set instead of a list in Python?

Sets can be used when only unique objects are needed. If there is a need to perform operations like OR or AND among data structures we might prefer usings sets instead of lists.

Q6)What is a string in Python, and how is it different from a list?

A string is a sequence of characters whlie lists are collection of objects that might be string,number,float or any data type.

String is a data type.

List is a data structure.

Q7)How do tuples ensure data integrity in Python?

Modifications cannot be made to objects of tuples once they are created. Hence they are used when data integrity is needed.

Q8)What is a hash table, and how does it relate to dictionaries in Python?

Hash table is data structure that uses hash function to efficiently map key-value pairs. Each key is given an integer which defines the index(bucket) in which key-value pair will be stored.

Hash table and dictionaries are related because python dictionaries are implemented using hash tables.

Q9)Can lists contain different data types in Python?

Yes, a list can contain objects of different data types.

Q10)Explain why strings are immutable in Python?

Strings being immutable ensures that they can be safely used as keys in dictionaries and elements in a set.

Q11)What advantages do dictionaries offer over lists for certain tasks?

Dictionaries help in storing data as key-value pairs and they can be preffered when duplicate data is to be prevented as dictonaries only have unique keys.

Q12)Describe a scenario where using a tuple would be preferable over a list?

A tuple can be used over lists when we need to maintain integrity of data as tuples dont allow changes once objects are created.

Q13) How do sets handle duplicate values in Python?

Duplicate values are dropped from the sets.

Q14)How does the “in” keyword work differently for lists and dictionaries?

In lists "in" keyword is used to check the presence of a value in the list.

In Dictionaries "in" keyword is used to check if a key of the same name is present; not the value.

Q15)Can you modify the elements of a tuple? Explain why or why not?

No, elements of a tuple cannot be modified .

They are designed to be consistent, reliable and can be used as dictionary key and set elements.

Q16)What is a nested dictionary, and give an example of its use case?

If value of a key is another dictionary, its called a nested dictionary.

It can be used when we need hierarchy in data.

Q17)Describe the time complexity of accessing elements in a dictionary?

Dictionaries are implemented using hash tables in python hence they are time efficient.

Q18)In what situations are lists preferred over dictionaries?

Lists are prefered over dictionaries when linear structure of the data is required.

Q19)Why are dictionaries considered unordered, and how does that affect data retrieval?

In dictionaries the order of data entry is not important because data is stored using hash table and data retrival is done using keys.

Q20)Explain the difference between a list and a dictionary in terms of data retrieval?

In lists data retrieval can be done using index and also by iterating through the list.

In dictionaries data retrieval is done using the name of the keys.

**Practical Questions**

Q1)Write a code to create a string with your name and print it.

In [2]:
name="Om Manchanda"
print(name)

Om Manchanda

Q2)Write a code to find the length of the string "Hello World".

In [3]:
s1="Hello World"
n=len(s1)
print(n)

11

Q3)Write a code to slice the first 3 characters from the string "Python Programming.

In [4]:
s2="Python Programming"
print(s2[0:3])

Pyt

Q4)Write a code to convert the string "hello" to uppercase.

In [5]:
s3="Hello"
print(s3.upper())

HELLO

Q5)Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
s4="I like apple"
print(s4.replace("apple","orange"))

I like orange

Q6)Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
l1=[]
for i in range(1,6):
  l1.append(i)
print(l1)

[1, 2, 3, 4, 5]

Q7)Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
l2=[1,2,3,4]
l2.append(10)
l2

[1, 2, 3, 4, 10]

Q8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
l3=[1,2,3,4,5]
l3.remove(3)
l3

[1, 2, 4, 5]

Q9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [13]:
l4=['a','b','c','d']
l4[1]

'b'

Q10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [16]:
l5=[10,20,30,40,50]
l6=[]
for i in range(len(l5)):
  l6.append(l5.pop())
l6

[50, 40, 30, 20, 10]

Q11)Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [17]:
t1=(10,20,30)
t1

(10, 20, 30)

Q12)Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [18]:
t2=("apple","banana","cherry")
t2[0]

'apple'

Q13)Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [21]:
t3=(1,2,3,2,4,2)
count=0
for i in range(len(t3)):
  if t3[i]==2:
    count=count+1
print(count)

3

Q14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
t4=("dog","cat","rabbit")
t4.index('cat')

1

Q15) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [24]:
t5=("apple","orange","banana")
"banana" in t5

True

Q16) Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [26]:
s1={1,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

Q17)Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [29]:
s2={1,2,3,4}
s2.add(6)
s2

{1, 2, 3, 4, 6}

Q18) Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [30]:
t6=(10,20,30)
t6

(10, 20, 30)

Q19)Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [31]:
t7=("apple","banana","cherry")
t7[0]

'apple'

Q20) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [32]:
t8=(1,2,3,2,4,2)
t8.count(2)

3

Q21) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [33]:
t9=('dog',"cat","rabbit")
t9.index("cat")

1

Q22) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [35]:
t10=('apple','orange','banana')
"banana" in t10

True

Q23)Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [36]:
s3={1,2,3,4,5}
s3

{1, 2, 3, 4, 5}

Q24) Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [37]:
s4={1,2,3,4}
s4.add(6)
s4

{1, 2, 3, 4, 6}